{{ define "main" }}

{{ partial "page-title.html" . }}

<!-- about -->
<section class="section">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        {{ .Content }}
      </div>

    </div>
  </div>
</section>
<!-- /about -->

<!-- packages -->
<section class="section">
  <div class="container">
    <h3 class="text-center" data-font="title-2/medium">My Packages</h3>
    <div class="row mb-5">
      <div class="col-12">
        <div class="btn-group btn-group-toggle justify-content-center d-flex flex-wrap" data-toggle="buttons">
          <label class="btn btn-sm btn-primary active">
            <input type="radio" name="shuffle-filter" value="all" checked="checked" />All
          </label>
					
          {{ $categories := slice }}
					{{ range site.Data.packages.packages.item }}
					{{ range .categories }}
					{{ $categories = $categories | append . }}
					{{ end }}
          {{ end }}
					{{ range ( $categories | uniq ) }}
          <label class="btn btn-sm btn-primary">
            <input type="radio" name="shuffle-filter" value="{{ . | urlize }}" />{{ . | humanize }}
          </label>
          {{ end }}
        </div>
      </div>
    </div>
    <div class="row shuffle-wrapper">
      {{ range site.Data.packages.packages.item }}
      <div class="col-lg-12 shuffle-item" data-groups="[{{range $index, $element := .categories }}{{if ne $index 0}},{{end}}&quot;{{. | urlize}}&quot;{{ end }}]">
        <div class="position-relative rounded">
          <div class="row justify-content-around swap">
            <div class="col-lg-6 col-sm-12">
              <img src="{{ .image | safeURL }}" class="img-fluid rounded d-block" alt="{{ .title | markdownify }}">
            </div>
            <div class="col-lg-5">
              <h4 class="mb-4 ">{{ .sub_title| markdownify}} {{ .title }}</h4>
              <p>{{ .cost | markdownify }}</p>
              <p>{{.description | markdownify }}</p>
              <ul>
                <li>{{ .feature_1 | markdownify }}</li>
                <li>{{ .feature_2 | markdownify }}</li>
                <li>{{ .feature_3 | markdownify }}</li>
                <li>{{ .feature_4 | markdownify }}</li>
                <li>{{ .feature_5 | markdownify }}</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    {{ end }}
  </div>

  </div>
</section>


<!-- /packages -->

{{ end }}