{{ define "main" }}

{{ partial "page-title.html" . }}

<section class="section">
  <div class="container">
    <div class="row mb-5">
      <div class="col-12">
        <div class="btn-group btn-group-toggle justify-content-center d-flex flex-wrap" data-toggle="buttons">
          <label class="btn btn-sm btn-primary active">
              <input type="radio" name="shuffle-filter" value="all"/>All
          </label>
        {{ $categories := slice }}
        {{ range (.Params.categories)  }}
        {{ $categories = $categories | append . }}
        {{ end }}
        {{ range ( $categories | uniq ) }}
          <label id="{{ . | urlize }}" class="btn btn-sm btn-primary">
            <input type="radio" name="shuffle-filter"  value="{{ . | urlize }}" />{{ . | humanize }}
          </label>
          {{ end }}
        </div>
      </div>
    </div>
      {{ $all_images := slice }}  
    <div class="row shuffle-wrapper">
      {{ range .Pages }}
          {{ $all_images = $all_images | append (.Resources.ByType "image") }}
  
      {{ end }}
      
      {{ range $all_images }}
      <div class="col-lg-4 col-6 mt-4 shuffle-item" data-groups="[{{$index:= .Params.categories }}{{if ne $index 0}}&quot;{{ .Params.categories | urlize}}&quot;{{ end }}]" >
        <div class="position-relative rounded">
          <a href="{{ .RelPermalink }}" data-toggle="lightbox" data-gallery="example-gallery" class="img-fluid rounded w-100 d-block position-relative rounded hover-wrapper"  >         
            {{ $small := .Resize "300x" }}
            {{ $medium := .Resize "800x" }}
            {{ $large := .Resize "1200x" }}
              <picture class="img-fluid rounded d-block">
              <source  media="(max-width: 376px)" class="img-fluid rounded d-block" 
              srcset="{{ $small.RelPermalink }}">
              <source media="(max-width: 992px)"  class="img-fluid rounded d-block" 
              srcset="{{ $medium.RelPermalink }}">
              <img class="img-fluid rounded d-block" src="{{ $large.RelPermalink }}" alt="">
              </picture> 
          </a>
        </div>
      </div>
      {{ end }}
    </div>
  </div>
</section> 



{{ end }}

