{{ define "main" }}

{{ partial "page-title.html" . }}

<section class="section">
  <div class="container">
    <div class="row mb-5">
      <div class="col-12">
        <div class="btn-group btn-group-toggle justify-content-center d-flex flex-wrap" data-toggle="buttons">
          <label class="btn btn-sm btn-primary active">
            <input type="radio" name="shuffle-filter" value="all" checked="checked" />All
          </label>
					{{ $categories := slice }}
					{{ range site.Data.gallery.gallery.item  }}
          
					{{ range .categories }}
          
					{{ $categories = $categories | append . }}
					{{ end }}
          {{ end }}
					{{ range ( $categories | uniq ) }}
          
          <label class="btn btn-sm btn-primary">
            <input type="radio" name="shuffle-filter" value="{{ . | urlize }}" />{{ . | humanize }}
          </label>
          {{ end }}
        </div>
      </div>
    </div>
    <div class="row shuffle-wrapper">
      {{ range site.Data.gallery.gallery.item }}
      <div class="col-lg-4 col-6 mb-4 shuffle-item" data-groups="[{{range $index, $element := .categories }}{{if ne $index 0}},{{end}}&quot;{{. | urlize}}&quot;{{ end }}]">
        {{ printf "%#v" . }}
        <div class="position-relative rounded">
          <a href="{{ .src | safeURL }}" data-toggle="lightbox" data-gallery="example-gallery" class="img-fluid rounded w-100 d-block position-relative rounded hover-wrapper">
            <img src="{{ .src | safeURL }}" class="img-fluid rounded d-block" alt="{{ .title | markdownify }}">
          </a>
        </div>
        
      </div>
      {{ end }}

    </div>




  </div>
</section> 
<!-- /gallery -->

{{ end }}
