{{ define "main" }}

{{ partial "page-title.html" . }}

<!-- gallery -->
<section class="section">
  <div class="container">
      <div class="col-lg-11">

        <div class="gallery">
          {{if isset .Params "gallery" }}
          {{ with .Resources.ByType "image" }}
            <div class="Image">
            {{ range . }}
              <img src="{{ .RelPermalink }}">
            {{ end }}
            </div>
          {{ end }}
          {{end}}
        </div>

        <div class="content">{{.Content}}</div>

        


    </div>
  </div>
</section>
<!-- /portfolio -->

{{ end }}