{{ define "main" }}

{{ partial "page-title.html" . }}

<!-- gallery -->
<section class="section">
  <div class="container">
    <div class=" col-12 mx-auto">
      <div class="gallery">
        {{if isset .Params "gallery" }}
        {{ with .Resources.ByType "image" }}
          <div class="rounded">
          {{ range . }}
          <div class="rounded">
            <img class="rounded" src="{{ .RelPermalink }}">
          </div>  
          {{ end }}
          </div>
        {{ end }}
        {{end}}
      </div>

      <div class="content ">{{.Content}}</div>
    </div>
  </div>
</section>
<!-- /gallery -->

{{ end }}