/*!------------------------------------------------------------------
[MAIN STYLESHEET]
PROJECT: Project Name
VERSION: Versoin Number
-------------------------------------------------------------------*/

:root{
  --primary-color: linear-gradient(
    96deg,rgba(7,12,8,1) 0%,rgba(15,24,19,1) 18%,rgba(21,34,28,1) 43%,rgba(35,46,41,1) 64%,rgba(41,48,45,1) 84%,rgba(36,41,39,1) 100%);
  --secondary-green: #dce0d2; 
  --gold-color: #D4AF37;
  --forest-green: #15221C;
  }


@font-face {
  font-family: "Antro Vectra";
  src: url("/fonts/antro_vectra/Antro_Vectra.otf") format("woff");
}

@font-face {
  font-family: "Didonesque-Roman";
  src: url("/fonts/Didonesque-Roman.ttf") format("woff");
}

@font-face {
  font-family: "Quicksand";
  src: url("/fonts/Quicksand-Light.otf") format("woff");
}

body [data-font = 'title-1/large'] {
font-family: 'Antro Vectra';
font-size: 1.875rem;
font-weight: 400;
font-style: normal;
line-height: 1.2em;
letter-spacing: 0em;
text-transform: none;
}

body [data-font = 'title-1/medium'] {
  font-family: 'Antro Vectra';
  font-size: 45px;
  font-weight: 400;
  font-style: normal;
  line-height: 1.2rem;
  letter-spacing: 0em;
  text-transform: none;
}

body [data-font = 'title-1/small'] {
  font-family: 'Antro Vectra';
  font-size: 30px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 0em;
  text-transform: none;
}

body [data-font = 'title-2/medium'] {
  font-family: Didonesque-Roman;
  font-size: 1.65rem;
  font-style: normal;
  line-height: 1.1em;
  letter-spacing: -0.03em;
  text-decoration: none;
  text-transform: none;
  padding-bottom: 25px;
  font-weight: 100;
}
body [data-font = 'title-2/small'] {
  font-family: Didonesque-Roman;
  font-size: 20px;
  font-style: normal;
  line-height: 1.1em;
  letter-spacing: -0.03em;
  text-decoration: none;
  text-transform: none;
}

body [data-font = 'nav'] {
    font-family: Antro Vectra;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 1.1rem;
    letter-spacing: 1.5px;
    font-weight: 600;
}
    @media(max-width:991px) {
      body [data-font = 'nav'] {
        font-size: .75rem;
      }
    }


body {
  line-height: 1.2;
  -webkit-font-smoothing: antialiased;
  font-size: 15px;
  font-family: "Quicksand", Helvetica, Roboto, Arial, sans-serif;
  color: #302f2f;
  background-color: #fff;
  overflow-x: hidden
}

p {
  font-weight: 400;
  /* color: #3e3b3b; */
  color: #060606;
  font-size: 15px;
  line-height: 1.8;
  font-size: 15px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #000;
  line-height: 1.2
}

h1 {
  font-family: 'Antro Vectra';
  font-size: 2.5rem;
  font-weight: 400;
  font-style: normal;
  line-height: 1.2em;
  letter-spacing: 0em;
  text-transform: none;
}

@media(max-width:991px) {

  h1, h2 {
    font-size: 1.5rem;
  }
}


h2, h3 {
  font-family: Didonesque-Roman;
  font-size: 1.65rem;
  font-style: normal;
  line-height: 1.1em;
  letter-spacing: -0.03em;
  text-decoration: none;
  text-transform: none;
  padding-bottom: 25px;
  font-weight: 100;
}

h4,
.h4 {
  font-size: 22px
}

h5,
.h5 {
  font-size: 18px
}

h6,
.h6 {
  font-size: 14px
}

.btn {
  font-size: .75rem;
  text-transform: capitalize;
  padding: 10px 30px;
  font-weight: 600;
  border: 1px solid var(--gold-color);
  position: relative;
  z-index: 1;
  transition: .2s ease
}

.btn:focus {
  outline: 0;
  box-shadow: none !important
}

.btn:active {
  box-shadow: none
}

.btn-primary {
  background: var(--forest-green);
  color: #fff;
  border-color: var(--gold-color) !important;
}

.btn-primary.active {
  opacity: .8;
}

.btn-primary:active {
  background: var(--primary-color) !important;
}

.btn-primary:hover {
  background: var(--primary-color) !important;
  opacity: .8;
  border: 1px solid var(--gold-color);
  transition: .2s ease;

}

.btn-primary.focus,
.btn-primary.active {
  background: var(--primary-color) !important;
  box-shadow: none !important;
}

.btn-transparent {
  background: transparent;
  color: var(--primary-color);
  font-weight: 700
}

.btn-transparent:active,
.btn-transparent:hover {
  /* color: white;
  background-color: #15221c62; */
  background-color: rgba(255, 255, 255, 0.351);
  transition: .2s ease;
}

.btn-light:hover {
  background-color: transparent;
  color: white;
  border-color: var(--gold-color);
  transition: .2s ease;
}

html {
  overflow-x: hidden;
}

::selection {
  background: var(--primary-color);
  color: #fff
}

.preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #fff;
  z-index: 999999;
  display: flex;
  align-items: center;
  justify-content: center
}

ol,
ul {
  list-style-type: none;
  margin: 0
}

img {
  vertical-align: middle;
  border: 0
}

a,
a:hover,
a:focus {
  text-decoration: none
}

a,
button,
select {
  cursor: pointer;
  transition: .2s ease
}

a:focus,
button:focus,
select:focus {
  outline: 0
}

a.text-dark:hover {
  color: var(--primary-color) !important
}

a:hover {
  color: var(--primary-color)
}
.emphasize {
  font-size: 1.25rem;
}

.slick-slide {
  outline: 0
}


/* Navigation */
.navigation {
  background: var(--primary-color);
}

.navbar {
  align-items: baseline;
}

.navbar{
  width: 100%;
}
.navbar-logo img {
  max-width: 10rem;
}

@media(min-width:992px) {
  .navbar-logo img {
    max-width: 13rem;
  }
  .nav-container {
    justify-content: end;
  }
  #navigation {
    flex-direction: column;
    align-items: end;
  }

}
.nav-container .icons {
  margin-top: 1rem;
  margin: 1.5rem .15rem 0 .15rem;
}
@media(max-width:991px) {
  .navigation {
    padding: .5rem;
    background: var(--primary-color)
  }
  .nav-container {
    justify-content: center;
  }
  .navbar ul {
    padding: 0;
  }
  .navbar li {
    margin: 10px 0;
  }
  .nav-item {
    text-align: center;
  }

}

.nav-item {
  margin-left: 1.25rem;
  list-style-type: none;
}
.navbar-nav .icons {
  margin-left: .75rem;
  margin-top: .5rem;
}

.nav-item > a {
  padding-right: 0;
} 
.nav-link {
  display: inline;
}
footer .nav-link {
  font-weight: 800;
  font-size: 1rem;
}
footer .link {
  color: var(--gold-color) !important;
  font-weight: bold;
  text-decoration: underline;
}
footer .container p {
  font-weight: 600;
  font-size: .75rem;
}
footer .menu a {
  border-left: 1px solid var(--gold-color);
}
footer .menu a:first-child {
  border-left: none;
}

.nav-item.active .nav-link {
  color: var(--gold-color) !important;

}
.nav-link:hover {
  color: var(--gold-color) !important;
  transition: .2s ease;
}
.underline {
  position: relative;
}
.underline::before{
  content: '';
  position: absolute;
  bottom: 0;
  right: 0;
  width: 0;
  height: 1px;
  background-color: var(--gold-color);
  transition: width 1s cubic-bezier(0.5, 1, 0.5, 1);
}
@media (hover: hover) and (pointer: fine) {
  .underline:hover::before{
    left: 0;
    right: auto;
    width: 100%;
  }
}

.not-home .page-title {
  position: relative;
}
.not-home .transparent {
  background: transparent !important;    
  position: absolute;    
  top: 0;    
  left: 0;   
  width: 100%;    
  z-index: 999999;
}






.section {
  padding-top: 80px;
  padding-bottom: 80px
}

.section-title {
  margin-bottom: 80px;
}

.overlay {
  position: relative
}

.overlay::before {
  position: absolute;
  content: '';
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background: #000;
  opacity: .5
}

.outline-0 {
  outline: 0 !important
}

.d-unset {
  display: unset !important
}

.bg-primary {
  background: var(--primary-color) !important
}


.mb-10 {
  margin-bottom: 10px !important
}

.mb-20 {
  margin-bottom: 20px !important
}

.mb-30 {
  margin-bottom: 30px !important
}

.mb-40 {
  margin-bottom: 40px !important
}

.mb-50 {
  margin-bottom: 50px !important
}

.mb-60 {
  margin-bottom: 60px !important
}

.mb-70 {
  margin-bottom: 70px !important
}

.mb-80 {
  margin-bottom: 80px !important
}

.mb-90 {
  margin-bottom: 90px !important
}

.mb-100 {
  margin-bottom: 100px !important
}

.rounded-lg {
  border-radius: 15px
}

.overflow-hidden {
  overflow: hidden
}


.shadow {
  box-shadow: 0 18px 39.1px 6.9px rgba(224, 241, 255, .34) !important
}

.icon {
  font-size: 45px
}

.icon-bg {
  height: 100px;
  width: 100px;
  line-height: 100px;
  text-align: center
}

.icon-light {
  color: #c8d5ef
}




.form-control {
  border: 0;
  border-radius: 0;
  border-bottom: 1px solid #c7c7c7;
  height: 60px
}

.form-control:focus {
  border-color: var(--primary-color);
  outline: 0;
  box-shadow: none !important
}

textarea.form-control {
  height: 120px
}

.card {
  border: 0
}

.card-header {
  border: 0
}

.card-footer {
  border: 0
}

.progress-wrapper {
  height: 130px;
  overflow: hidden
}


.hover-bg-primary {
  transition: .3s ease
}

.hover-bg-primary:hover {
  background: var(--primary-color)
}

.hover-bg-primary:hover * {
  color: #fff
}

.active-bg-primary {
  transition: .3s ease;
  background: var(--primary-color)
}

.active-bg-primary * {
  color: #fff
}

.hover-shadow {
  transition: .2s ease
}

.hover-shadow:hover {
  box-shadow: 0 18px 40px 8px rgba(224, 241, 255, .54) !important
}

.hover-wrapper {
  overflow: hidden
}

.hover-wrapper img {
  transition: .3s ease;
  transform: scale(1.1)
}

.hover-wrapper:hover img {
  transform: scale(1)
}

.hover-wrapper:hover .hover-overlay {
  opacity: 1;
  visibility: visible
}

.hover-overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  border-radius: inherit;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, .3);
  opacity: 0;
  visibility: hidden;
  transition: .3s ease
}

.hover-content {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  right: 0;
  text-align: center
}


.testimonial-bg-shapes .bg-map {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%)
}

.testimonial-bg-shapes .bg-shape-1 {
  position: absolute;
  left: 100px;
  top: -50px
}
.page-title {
  padding: 250px 0 150px
}

.shadow-down {
  position: relative
}

.shadow-down::before {
  position: absolute;
  content: "";
  box-shadow: 0 0 80.75px 14.25px rgba(224, 241, 255, .34);
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  z-index: -1
}

.card-lg {
  flex-direction: row-reverse;
  align-items: center
}

@media(max-width:991px) {
  .card-lg {
    flex-direction: column
  }
}

blockquote {
  display: inline-block;
  padding: 10px 20px;
  /* background: #eaeaea; */
  /* border-left: 2px solid var(--primary-color); */
  font-style: italic;
  font-size: 22px
}

.content * {
  margin-bottom: 20px
}

.content strong {
  font-family: 'Fira Sans', sans-serif;
  font-size: 22px;
  font-weight: 400;
  color: #000;
  display: inherit;
  line-height: 1.5
}

.page-title-alt {
  padding: 350px 0 70px;
  background: var(--primary-color);
  position: relative;
}
.page-title-alt::after {
  content: '';
  position: absolute;
   /* background-image: url('/images/universal-heros/Universal Hero 1 MS.jpg'); */
  /* background-image: url('/images/universal-heros/Universal Hero 2 MS.jpg'); */
  background-image: url('/images/universal-heros/Universal Hero 3 MS.jpg');
  /* background-image: url('/images/universal-heros/Universal Hero 4 BW MS.jpg');  */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: 0.15;
} 

.border {
  border: .25px solid var(--gold-color) !important;
}

.border-thick {
  border: 10px solid
}

.drag-lg-top {
  margin-top: -230px
}

@media(max-width:991px) {
  .drag-lg-top {
    margin-top: 0
  }
}

.page-title-alt .container {
  position: relative;
  z-index: 1
}

.filter-controls li {
  cursor: pointer
}

.filter-controls li.active {
  font-weight: 700
}

.social-icons a{
  height: 100px;
  width: 100px;
  line-height: 100px;
  border-radius: 50%;
  display: block;
  box-shadow:  0 18px 39.1px 6.9px rgba(224,241,255,.34);
  color: #fff;
  background-color: var(--primary-color);
  font-size: 20px;
  text-align: center;
}

.project-meta{
  display: flex;
  align-items: center;
}

.project-meta i{
  height: 100px;
  min-width: 100px;
  line-height: 100px;
  background-color: #fff;
  color: var(--primary-color);
  border-radius: 50%;
  text-align: center;
  display: block;
  box-shadow:  0 18px 39.1px 6.9px rgba(224,241,255,.34);
  font-size: 30px;
}

.project-meta h4{
  font-weight: bold;
  font-size: 24px;
}

.project-meta p{
  margin-bottom: 0;
}

.list-unstyled {
  display: flex;
  justify-content: center;
}
.mb-3{
  margin: 1rem;
}

/* Hero */
.hero-area {
  position: relative;
}
.paginator{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.prev {
  background: url('/images/angle-left-solid.svg') no-repeat;
  background-position: center;
  display: block;
  height: 3rem;
  width: 3rem;
}
.next {
  background: url('/images/angle-right-solid.svg') no-repeat;
  background-position: center;
  display: block;
  height: 3rem;
  width: 3rem;
} 
@media(max-width:991px) {
  .next , .prev {
    height: 1.75rem;
    width: 1.75rem;
  }
}


/* Work section */
.galleries {
/* background-color: #15221C; */
background-color: #323633;
}
.galleries h2, .work h4, .work p {
  color: white;
}

section .about {
  background-color: var(--secondary-green);
  padding: 4rem .75rem;
}
.about .header {
  position: relative;
  padding-top: 5%;
}

.header::after {
  content: '';
  position: absolute;
  bottom: 0;
  top: -30px;
  left: 75px;
  width: 225px;
  height: 225px;
  border: 1px solid var(--gold-color);
  transform: rotate(45deg);
}
@media (max-width: 1199px){
  .header::after {
    left:50px;
  }
}
@media(max-width:991px) {
  .header::after {
    content: '';
    position: absolute;
    bottom: 0;
    top: -35px;
    left:35px;
    width: 225px;
    height: 225px;
    border: 1px solid var(--gold-color);
    transform: rotate(45deg);
  }
}
@media(max-width:990px) {
  .header::after {
    display: none;
  }
}

.footer-section {
  background-color: #2e3f2ebf;
  border-top: 1px solid var(--gold-color);
}

.footer-section .list-unstyled{
  justify-content: left;
}

[data-background] {
background-position: center;
background-size: cover;
background-repeat: no-repeat;
}

.mt-0 {
  margin: 0 1rem 1rem 1rem;
}

.theme-color a{
  color: var(--primary-color);
}


div:nth-child(even) .swap {
  flex-direction: row-reverse;
}

.facts img {
  position: relative;
}
.facts .caption-container {
  position: absolute;
  bottom: 0px;
  width: 100%;
  margin: auto;
  background: rgba(7,12,8,1);
  opacity: .75;
  padding: 15px 10px;
}
.facts h5 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  font-weight: 800;
  font-size: 1.25rem;
}


.packages ul {
  list-style-type: disc;
}

.packages .border-bottom {
  border-bottom: 1px solid var(--gold-color) !important;
  border-right-width: 5%;
}

/* .fade-in {
  animation: fadeIn ease 10s;
  -webkit-animation: fadeIn ease 10s;
  -moz-animation: fadeIn ease 10s;
  -o-animation: fadeIn ease 10s;
  -ms-animation: fadeIn ease 10s;
}


@keyframes fadeIn{
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-ms-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
} */

.bulleted{
  list-style-type: disc;
}

/* Expand Shortcode */
.expand {
  padding: .75rem 0 1.5rem 0;
  border-bottom: 1px solid var(--forest-green);
  margin: .45rem 0;
}
.expand-content{
  margin-top: .5rem;
}

#map {
  height: 100%;
  min-height: 400px;
}

.text-gold {
  color: var(--gold-color) !important;
}

.work .image-container {
  max-width: 350px;
  margin: auto;
}