{{ define "main" }}

{{ partial "page-title.html" . }}

<!-- about -->
<section class="section pt-5">
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        {{ .Content }}
      </div>
      <div class="col-md-4 text-center drag-lg-top">
        <div class="shadow-down mb-4">
          <img src="{{.Params.author_image | absURL }}" alt="author"
            class="img-fluid w-100 rounded-lg border-thick border-white">
        </div>
        <!-- <img src="{{.Params.author_signature | absURL }}" alt="signature" class="img-fluid"> -->
        <h4 data-font="title-1/small">{{ site.Params.Author }}</h4>
      </div>
    </div>
  </div>
</section>
<!-- /about -->

<!-- Work Process -->
{{ if site.Data.about.photography_process.enable }}
{{ with site.Data.about.photography_process }}
<section>
  <div class="container">
    <div class="row justify-content-around">
      <div class="col-lg-12 text-center">
        <h2>Photography Process</h2>
        <!-- <h2>{{ .title | markdownify }}</h2> -->
      </div>
      {{ range .item }}
      <div class="col-lg-3 col-md-4 text-center hover-shadow pt-3">
        <img src="{{ .icon | absURL }}" alt="icon">
        <h4>{{ .title }}</h4>
        <p>{{ .content | markdownify }}</p>
      </div>
      {{ end }}
    </div>
  </div>
</section>
{{ end }}
{{ end }}
<!-- ./Work Process -->

<!-- fun facts -->
{{ if site.Data.about.facts.enable }}
<section class="section facts">
  <div class="container">
    <div class="col-lg-12 text-center">
      <h2 class="pb-4">{{ site.Data.about.facts.title | markdownify }}</h2>
    </div>
    <ul class="">
      {{ $item := site.Data.about.facts.item }}
      {{ range $item }}
        <li class="disc py-2">{{ .fact| markdownify }}</li>
      {{ end }}
      {{ end }} 
    </ul>
    </div>
</section>
<!-- /fun facts -->

{{ end }}