


{{ if site.Params.contact.enable }}
<!-- contact -->
<section class="section contact-form-bkg"  width="100%" height="auto">
  <div class="container">
    <div class="row">
      <div class="col-12 text-center">
        <h2 class="text-white pb-3" data-font="title-2/large">Get in Touch</h2>
      </div>
      <div class="col-lg-8 mx-auto">
        <div class="bg-white rounded text-center p-5">
          <h4 data-font="title-1/large" >Contact Form</h4>
          <p>I’m here for you- whether you’re ready to book, have questions, or want to discuss your needs. I would love to hear from you and get to know you. Fill out the form below to let me know what you need!</p>
          <form action="{{site.Params.contact.form_action}}" method="POST" class="row">
            <div class="col-md-6">
              <input type="text" id="name" name="name" placeholder="Full Name" class="form-control px-0 mb-4">
            </div>
            <div class="col-md-6">
              <input type="email" id="email" name="email" placeholder="Email Address" class="form-control px-0 mb-4">
            </div>
            <div class="col-md-6">
              <input type="text" id="location" name="location" placeholder="Location of photo session" class="form-control px-0 mb-4">
            </div>
            <div class="col-md-6 text-left mb-4">
              <label for="category">I'm interested in...</label>
              <select class="p-2" id="category" name="category">
                <option value="engagement">Engagement Photos</option>
                <option value="portrait">Portrait Photos</option>
                <option value="lifestyle">Lifestyle Photos</option>
                <option value="other">Other</option>
              </select>
            </div>
            <div class="col-12">
              <textarea name="message" id="message" class="form-control px-0 mb-4"
                placeholder="Type any details here."></textarea>
            </div>
            <div class="col-lg-6 col-10 mx-auto">
              <button class="btn btn-primary w-100">send</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- /contact -->
{{ end }}

<!-- footer -->
<footer class="bg-primary  footer-section">
  <div class="pt-4">
    <div class="container">
      <div class=" row ">
        <div class="col-12 d-flex justify-content-center">
          <img src="{{ site.Params.logo | absURL }}" alt="{{site.Title}}"  width="200" height="150">
        </div>
        <div class="container-fluid">
          <div class="row">
            <div class="d-flex col-12 flex-wrap justify-content-center">
              {{ range site.Menus.footer}}
                <a class="text-white nav-link underline" href="{{ .URL | absURL }}">{{ .Name }}</a>
              {{ end }}
            </div>
          </div>
        </div>
        <div class="col-lg-7 col-sm-12 d-flex justify-content-center mt-4 mx-auto text-center">
          <p class="text-white">Servicing the Tri-State area of West Virginia, Kentucky, and Ohio, including: Huntington, Ashland, Ironton and beyond! See if I <a class="link" href="/contact">cover your area!</a></p>
        </div>
          <div class="col-12 d-flex justify-content-center">
          {{ range site.Params.social }}
          <a class="text-white mb-3" href="{{.URL | safeURL }}"><i class="{{.icon}}"></i></a>
          {{ end }}
        </div>
      </div> 
    </div>
  </div>
  <div class="border-top text-center border-dark py-3 bg-white">
    <p class="mb-0">{{ site.Params.copyright | markdownify }}</p>
  </div>
</footer>
<!-- /footer -->



{{ "<!-- Main Scripts -->" | safeHTML }}
{{ $preloader := resources.Get "js/preloader.js" | minify}}
<script src="{{ $preloader.Permalink }}"></script>

{{ $slick := resources.Get "js/slick.js" | minify}}
{{ if .Params.slick }}
  <script src="{{ $slick.Permalink }}"></script>
{{ end }}

{{ $shuffle := resources.Get "js/shuffle.js" | minify}}
{{ if .Params.gallery }}
  <script src="{{ $shuffle.Permalink }}"></script>
{{ end }}
