


{{ if site.Params.contact.enable }}
<!-- contact -->
<section class="section contact-form-bkg" data-background="{{`/images/universal-heros/Universal Hero OG BW MS.jpg` | absURL}}">
  <div class="container">
    <div class="row">
      <div class="col-12 text-center">
        <h2 class="text-white" data-font="title-1/medium">Get in Touch</h2>
      </div>
      <div class="col-lg-8 mx-auto">
        <div class="bg-white rounded text-center p-5">
          <h4 class="emphasize">Contact Form</h4>
          <p>I’m here for you- whether you’re ready to book, have questions, or want to discuss your needs. I would love to hear from you and get to know you. Fill out the form below to let me know what you need!</p>
          <form action="{{site.Params.contact.form_action}}" method="POST" class="row">
            <div class="col-md-6">
              <input type="text" id="name" name="name" placeholder="Full Name" class="form-control px-0 mb-4">
            </div>
            <div class="col-md-6">
              <input type="email" id="email" name="email" placeholder="Email Address" class="form-control px-0 mb-4">
            </div>
            <div class="col-md-6">
              <input type="text" id="location" name="location" placeholder="Location of photo session" class="form-control px-0 mb-4">
            </div>
            <div class="col-md-6 text-left mb-4">
              <label for="category">I'm interested in...</label>
              <select class="p-2" id="category" name="category">
                <option value="engagement">Engagement Photos</option>
                <option value="portrait">Portrait Photos</option>
                <option value="lifestyle">Lifestyle Photos</option>
                <option value="other">Other</option>
              </select>
            </div>
            <div class="col-12">
              <textarea name="message" id="message" class="form-control px-0 mb-4"
                placeholder="Type any details here."></textarea>
            </div>
            <div class="col-lg-6 col-10 mx-auto">
              <button class="btn btn-primary w-100">send</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- /contact -->
{{ end }}

<!-- footer -->
<footer class="bg-primary  footer-section">
  <div class="pt-4">
    <div class="container">
      <div class=" row ">
        <div class="col-12 d-flex justify-content-center">
          <img src="{{ site.Params.logo | absURL }}" alt="{{site.Title}}">
        </div>
        <div class="container-fluid">
          <div class="row">
            <div class="d-flex col-12 flex-wrap justify-content-center">
              {{ range site.Menus.footer}}
                <a class="text-white nav-link underline" href="{{ .URL | absURL }}">{{ .Name }}</a>
              {{ end }}
            </div>
          </div>
        </div>
        <!-- <div class="menu row mx-auto"> -->
          <!-- <div class="menu d-flex justify-content-center">
            {{ range site.Menus.footer}}
              <a class="d-flex col-sm-12 text-white nav-link underline" href="{{ .URL | absURL }}">{{ .Name }}</a>
            {{ end }}
          </div> -->
        <!-- </div> -->
        <div class="col-lg-7 col-sm-12 d-flex justify-content-center mt-4 mx-auto text-center">
          <p class="text-white">Servicing the Tri-State area of West Virginia, Kentucky, and Ohio, including: Huntington, Ashland, Ironton and beyond! See if I <a class="link" href="/contact">cover your area!</a></p>
        </div>
          <div class="col-12 d-flex justify-content-center">
          {{ range site.Params.social }}
          <a class="text-white mb-3" href="{{.URL | safeURL }}"><i class="{{.icon}}"></i></a>
          {{ end }}
        </div>
      </div> 
    </div>
  </div>
  <div class="border-top text-center border-dark py-3 bg-white">
    <p class="mb-0">{{ site.Params.copyright | markdownify }}</p>
  </div>
</footer>
<!-- /footer -->

<script>
  $(document).on('click', '[data-toggle="lightbox"]', function(event) {
      event.preventDefault();
      $(this).ekkoLightbox();
  });
</script>

{{ "<!-- Main Script -->" | safeHTML }}
{{ $script := resources.Get "js/script.js" | minify}}
<script src="{{ $script.Permalink }}"></script>

<!-- cookie -->
{{ if site.Params.cookies.enable }}
<script src="https://cdnjs.cloudflare.com/ajax/libs/js-cookie/2.2.1/js.cookie.min.js"></script>
<div id="js-cookie-box" class="cookie-box cookie-box-hide">
	This site uses cookies. By continuing to use this website, you agree to their use. <span id="js-cookie-button" class="btn btn-sm btn-primary ml-2">I Accept</span>
</div>
<script>
	(function ($) {
		const cookieBox = document.getElementById('js-cookie-box');
		const cookieButton = document.getElementById('js-cookie-button');
		if (!Cookies.get('cookie-box')) {
			cookieBox.classList.remove('cookie-box-hide');
			cookieButton.onclick = function () {
				Cookies.set('cookie-box', true, {
					expires: {{ site.Params.cookies.expire_days }}
				});
				cookieBox.classList.add('cookie-box-hide');
			};
		}
	})(jQuery);
</script>

<!-- cookie style -->
<style>
.cookie-box {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  text-align: center;
  z-index: 9999;
  padding: 1rem 2rem;
  background: rgb(71, 71, 71);
  transition: all .75s cubic-bezier(.19, 1, .22, 1);
  color: #fdfdfd;
}

.cookie-box-hide {
  display: none;
}
</style>
{{ end }}