<header class="navigation navbar-dark navbar-expand-lg transparent">
  <div class="container">
    <nav class="navbar ">
      <a class="navbar-logo" href="{{ site.BaseURL }}">
        {{ if site.Params.logo }}
        <img src="{{ site.Params.logo | absURL }}" alt="{{site.Title}}" width="200" height="150">
        {{ else }}
        <h3 class="text-white font-secondary">{{site.Title}}</h3>
        {{ end }}
      </a>
      <button class="navbar-toggler text-white" type="button" data-toggle="collapse" data-target="#navigation"
        aria-controls="navigation" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon text-white"></span>
      </button>
  
      <div class="collapse navbar-collapse" id="navigation">
        <div class="d-flex flex-column nav-container">
            <ul class="navbar-nav">
              {{ $current := . }}
              {{ range site.Menus.main }}
              {{ $active := or ($current.IsMenuCurrent "nav" .) ($current.HasMenuCurrent "nav" .) }}
              {{ $active = or $active (eq .Name $current.Title) }}
              <li class="nav-item {{ if $active }}active{{ end }}">
                <a class="text-white nav-link underline" data-font = 'nav' href="{{ .URL | absURL }}">{{ .Name }}</a>
              </li>
              {{ end }}
            </ul>
          </div>
          <div class="d-flex nav-container">
            <ul class="d-flex justify-content-center">
              <li class="nav-item icons">
                <a target="_blank" href="https://www.instagram.com/lockandshutterphotography/?igshid=eyvstsqvaogj">
                  <img class="icon-img" src="/images/icons/instagram.svg" alt="instagram icon">
                </a>
              </li>
              <li class="nav-item icons">
                <a href="mailto:lockandshutterphotography@outlook.com">
                  <img class="icon-img" src="/images/icons/email.svg" alt="email icon">
                </a>
              </li>    
            </ul>
          </div>
        </div>
    </nav>
  </div>
  
</header>