{{ define "main" }}

<!-- hero area -->
<section class="hero-area overflow-hidden">
  <div class="hero-slider">
    {{ range site.Data.homepage.hero_slider.item }}
      <img class="hero-desktop" data-background="{{.image | absURL}}">
    {{ end }}
  </div>
  
</div>

<!-- social icon -->
<ul class=" bg-primary list-unstyled position-relative zindex-1">
  {{ range site.Params.social }}
  <li class="mb-3 my-3"><a class="text-white" href="{{.URL | safeURL }}"><i class="{{.icon}}"></i></a></li>
  {{ end }}
</ul>
<!-- /social icon -->
</section>
<!-- /hero area -->

{{ if site.Data.homepage.about.enable }}
<!-- about -->
<section class="section">
  <div class="about container">
    <div class="row justify-content-around">
      <div  class="col-md-5 text-center align-self-center">
        <h2 data-font="title-1/medium">get to know</h2>
        <p data-font="title-2/medium">Me and my Work</p>
      </div>
      <div class="col-md-5 text-center">
        {{ with site.Data.homepage.about }}
        <h3 data-font="title-2/medium">{{.title | markdownify}}</h3>
        <p class="font-secondary lead text-dark">{{.content | markdownify}}</p>
        {{ if .button.enable }}
        {{ with .button }}
        <a href="{{ .URL | absURL }}" class="btn btn-transparent">{{.label}}</a>
        {{ end }}
        {{ end }}
        {{ end }}
      </div>

    </div>
  </div>
</section>
<!-- /about -->
{{ end }}



{{ if site.Data.homepage.work.enable }}
  <!-- work -->
  <section class="section bg-primary">
    <div class="container">
      <div class="row">
        <div class="col-12 text-center">
          <h2 class="text-white">{{ site.Data.homepage.work.title | markdownify }}</h2>
        </div>
      </div>
      <div class="row shuffle-wrapper">
        {{ $item:= site.Data.homepage.work.item }}
        {{ range $item }}
        <div class="col-lg-4 col-6 mb-4 shuffle-item">
          <h3 class="text-center text-white">{{.title}}</h3>
          <div class="position-relative rounded hover-wrapper border">
            <img src="{{.image | absURL }}" alt="gallery-image" class="img-fluid rounded w-100 d-block">
            <div class="hover-overlay">
              <div class="hover-content">
                {{ if .button.enable }}
                {{ with .button }}
                <a href="{{ .URL | absURL }}" class="btn btn-light">view gallery</a>
                {{ end }}
                {{ end }}
              </div>
            </div>
          </div>
        </div>
        {{ end }}
        {{ end }}

      </div>
      <div class="col-12 text-center">
        <a class="btn btn-light" href="/gallery">View All Work</a>
      </div>
    </div>

  </section>
  <!-- /work -->

  
 <!-- process -->
 {{ if site.Data.about.photography_process.enable }}
{{ with site.Data.about.photography_process }}
<section class="section">
  <div class="container">
    <div class="row justify-content-around">
      <div class="col-lg-12 text-center">
        <h2>{{ .title | markdownify }}</h2>
      </div>
      {{ range .item }}
      <div class="col-lg-3 col-md-4 text-center hover-shadow pt-3">
        <img src="{{ .icon | absURL }}" class="mb-4" alt="icon">
        <h4 class="mb-4">{{ .title }}</h4>
        <p>{{ .content | markdownify }}</p>
      </div>
      {{ end }}
    </div>
  </div>
</section>
{{ end }}
{{ end }}
 <!-- /process -->


<!-- packages -->
<!-- <section class="section pb-0 bg-primary">
  <div class="container">
    <div class="row justify-content-around">
      <div class="col-lg-12 text-center">
        <h2 class="text-white">My Packages</h2>
      </div>
      {{ if site.Data.packages.packages.enable }}
      {{ with site.Data.packages.packages }}
          <div class="row hover-shadow ">
            {{ range .item }}
            <div class="col-lg-6 text-center hover-shadow border-thick bg-gray">
              <div class="col-lg-4">
                <h4 class="mb-4">{{ .title }}</h4>
                <p>{{ .cost | markdownify }}</p>
                <ul>
                  <li>{{ .feature_1 | markdownify }}</li>
                  <li>{{ .feature_2 | markdownify }}</li>
                  <li>{{ .feature_3 | markdownify }}</li>
                  <li>{{ .feature_4 | markdownify }}</li>
                  <li>{{ .feature_5 | markdownify }}</li>
                </ul>
              </div>
              
            </div>
            {{ end }}
          </div>
        </div>
      {{ end }}
      {{ end }}

    </div>
  </div>
</section> -->
<!-- /packages -->


  {{ if site.Data.homepage.showroom_slider.enable }}
  <!-- showroom slider -->
  <section class="section pb-0">
    <div class="container">
      {{ partial "showroom_slider.html" . }}
    </div>
  </section>
  <!-- /showroom slider -->
  {{ end }}


{{ end }}
