{{ define "main" }}

{{ partial "hero-slider.html" . }}


{{ if site.Data.homepage.about.enable }}
<!-- about -->
<section class="section">
  <div class="about container">
    <div class="row justify-content-around">
      <div  class="col-md-4 header text-center align-self-center">
        <h2 data-font="title-1/medium" class="pb-2">get to know</h2>
        <p data-font="title-2/medium">Me and my Work</p>
      </div>
      <div class="col-md-6 text-center">
        {{ with site.Data.homepage.about }}
        <p class="font-secondary emphasize">{{.content | markdownify}}</p>
        {{ if .button.enable }}
        {{ with .button }}
        <a href="{{ .URL | absURL }}" class="btn btn-transparent">{{.label}}</a>
        {{ end }}
        {{ end }}
        {{ end }}
      </div>

    </div>
  </div>
</section>
<!-- /about -->
{{ end }}



{{ if site.Data.homepage.work.enable }}
  <!-- work -->
  <section class="section work bg-primary">
    <div class="container">
      <div class="row">
        <div class="col-12 text-center ">
          <h2 class="text-white" data-font="title-1/medium">{{ site.Data.homepage.work.title | markdownify }}</h2>
        </div>
      </div>
      <div class="row justify-content-center">
        {{ $item:= site.Data.homepage.work.item }}
        {{ range $item }}
        <div class="col-lg-4 col-md-6 col-s-8">
          <h3 class="text-center text-white mt-3">{{.title}}</h3>
          <div class="position-relative rounded hover-wrapper border img-container mx-3">
            <img src="{{.image | absURL }}" alt="{{ .alt }}" class="img-fluid rounded d-block" width="850" height="567">
            <div class="hover-overlay">
              <div class="hover-content">
                {{ if .button.enable }}
                {{ with .button }}
                <a href="{{ .URL | absURL }}" class="btn btn-light">see gallery</a>
                {{ end }}
                {{ end }}
              </div>
            </div>
          </div>
        </div>
        {{ end }}
        {{ end }}

      </div>
      <div class="col-12 text-center mt-5">
        <a class="btn btn-light" href="/gallery">See All Work</a>
      </div>
    </div>

  </section>
  <!-- /work -->

  {{ partial "photography-process.html" . }}



  {{ if site.Data.homepage.showroom_slider.enable }}
  <!-- showroom slider -->
  <section class="section pt-0">
    <div class="container">
      {{ partial "showroom_slider.html" . }}
    </div>
  </section>
  <!-- /showroom slider -->
  {{ end }}

{{ end }}
