{{ define "main" }}

{{ partial "page-title.html" . }}

{{ if site.Params.map.enable }}
<section class="section">
  <div class="container">
    <div class="row">
      <div class="col-5">
        <h2 data-font="title-1/small">Let's Meet Up</h2>
        <h3>Huntington, WV</h3>
        <p>Although I’m based out of Huntington, WV, I’m always ready for an adventure and am eager to explore. The map displays the areas I service. If you are outside of the circle, an extra fee will be charged for travel expenses.</p>
        <p>Feel free to reach out to set up a meeting time.</p>
      </div>
      <div class="col-6">
        <div id="map"></div>
      </div>
    </div>
  </div>
</section>
{{ end }}

<section class="section">
  <div class="container">
    <div class="row"> 
      {{ .Content }}
    </div>
  </div>
</section>

    <!-- Async script executes immediately and must be after any DOM elements used in callback. -->
<script type="text/javascript"
src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCFHiKA0CBkG60KuMm6k52oiOVGkEOU39c&callback=initMap&v=weekly"
async
></script>

{{ end }}

